.product-info-block {
  margin: 1rem;
  align-items: flex-start;
}

.product-info-block p {
  width: 32rem;
  height: 26.25rem;
  margin: 1rem;
  text-align: left;
}
#spice-img {
  width: 18rem;
}
.people-img {
  margin: -0.3rem;
  width: 50px;
}
/* .people-img:nth-child(1){
    z-index: 3;
}
.people-img:nth-child(2){
    z-index: 2;
}
.people-img:nth-child(3){
    z-index: 1;
} */
.number-of-user {
  margin: 0.5rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--text-clr);
  border-radius: 16.366px;
}
.subscribers {
  align-items: flex-start;
  margin: 0.2rem;padding: 0.5rem;
}
.subscribers span {
  padding: 0.2rem;
}
