.product-info-block {
  margin: 1rem;
  align-items: flex-start;
}

.product-info-block p {
  max-width: 32rem;
  margin: 1rem;
  text-align: left;
}
#spice-img {
  width: 18vw;
}
.people-img {
  margin: -0.3rem;
  width: 50px;
}
.product-info-container {
  max-width: 80%;
  margin: auto;
}
.number-of-user {
  margin: 0.5rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--text-clr);
  border-radius: 16.366px;
}
.subscribers {
  align-items: flex-start;
  margin: 0.2rem;
  padding: 0.5rem;
}
.subscribers span {
  padding: 0.2rem;
}

.loss-compare-line {
  border: 1px solid var(--text-clr);
  background-color: var(--text-clr);
  width: 250px;
  height: 1px;
}

.project-progress-container {
  border: 1px solid var(--text-clr);
  align-items: center;
  padding: 0.5rem;
  width: 30rem;
  border-radius: 10px;
  margin: auto;
}
.project-progress-container span {
  font-size: 16px;
}
.progress-bar {
  min-width: 80%;
  min-height: 8px;
  border-radius: 71.5px;
  background-color: var(--text-clr);
}
.completed-progress {
  width: 80%;
  height: 8px;
  border-radius: 71.5px;
  background: linear-gradient(90deg, #f9d423 0%, #e65c00 100%);
}
.place-btn {
  background: linear-gradient(90deg, #f9d423 0%, #e65c00 100%);
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: var(--text-clr);
  padding: 0.2rem 2rem;
  width: 8rem;
  margin: auto;
  margin-top: 0.5rem;
}
