.header-container {
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
.header-container img {
  width: 100px;
  height: 150px;
}
.company-name {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 35px;
  color: var(--text-clr);
}
.header-icons {
  font-size: 1.2rem;
  color: var(--text-clr);
}
.header-icons:hover {
  cursor: pointer;
}
.lang-text {
  color: var(--text-clr);
}
.header-line {
  border-top: 1px solid var(--text-clr);
  margin: 0 4rem;
}
.line {
  width: 957px;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-around;
}
