.sidebar-mapped-items{
    padding: 0.5rem;
    text-decoration: none;
    color: var(--txt-color);
}
.sidebar-mapped-items img {
    padding: 0.5rem;
}
.sidebar-mapped-items span{
    min-width: 90px;
}
.sidebar-container{
    align-items: flex-start;
}