.mobile-sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100rem;
    background: linear-gradient(90deg, #141e30 0%, #243b55 100%);
    z-index: 10;
    transition: all ease 0.3s;
}

.mobile-sidebar-wrapper--open {
    left: 0;
}