.common-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.common-flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.center{
    justify-content: center;
    align-items: center;
}
.pd-sm{
    padding: 0.2rem;
    margin: 0.2rem;
}